In [1]:
import pandas as pd

In [6]:
df1 = pd.read_excel('./data/PLANILHA DE PEDIDO DISMEPI_st.xlsx',sheet_name='PEDIDO')
df2 = pd.read_excel('./data/desc_produtos.xlsx',sheet_name='Prod')

In [12]:
df1 = df1.merge(df2,on='Código Promax',how='outer')

In [14]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 55 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Embalagem             181 non-null    object
 1   Cód. Prod. SAP        325 non-null    object
 2   Categorização         371 non-null    object
 3   Cod.                  334 non-null    object
 4   Código Promax         371 non-null    float64
 5   Prod. Completo        371 non-null    object
 6   Desc. Prod.           371 non-null    object
 7   Min (HL)              220 non-null    float64
 8   Obj (HL)              220 non-null    float64
 9   Max (HL)              220 non-null    float64
 10  Fator HL              349 non-null    float64
 11  Min (cx)              349 non-null    float64
 12  Obj (cx)              349 non-null    float64
 13  Max (cx)              349 non-null    float64
 14  MIN (ESTOUE IDEAL)    350 non-null    float64
 15  MAX (GESTOR)          350 non-null    float64
 16  PALETIZAÇÃO           371 non-null    float64
 17  Estoque HL            349 non-null    float64
 18  PEDIDO                350 non-null    float64
 19  ESTOQUE               371 non-null    float64
 20  ESTOQUE
PALETE       371 non-null    float64
 21  TRANSITO              371 non-null    float64
 22  2024-06-14 00:00:00   371 non-null    float64
 23  2024-06-15 00:00:00   371 non-null    float64
 24  2024-06-16 00:00:00   371 non-null    float64
 25  2024-06-17 00:00:00   371 non-null    float64
 26  LINEAR DE VENDA       371 non-null    float64
 27  EST + MARC - 3*LIN    371 non-null    float64
 28  Diff                  368 non-null    float64
 29  SUGERIDO              371 non-null    float64
 30  MÍNIMO                371 non-null    float64
 31  SUGERIDO.1            371 non-null    float64
 32  MÁXIMO
PEDIDO         371 non-null    float64
 33  MÍNIMO
PEDIDO         371 non-null    float64
 34  FÁBRICA               182 non-null    object
 35  MALHA                 182 non-null    float64
 36  PEDIDO.1              40 non-null     float64
 37  PALETES               371 non-null    float64
 38  COMPLEMENTO           371 non-null    float64
 39  COTA                  191 non-null    object
 40  STATUS BI             193 non-null    object
 41  ESTOQUE.1             165 non-null    float64
 42  $$$$$                 351 non-null    float64
 43  ESTOQUE REAL          371 non-null    float64
 44  ESTOQUE MÍNIMO        351 non-null    float64
 45  ESTOQUE MÁXIMO        351 non-null    float64
 46  PERCENTUAL OVER/DOWN  279 non-null    float64
 47  OVER/DOWN             351 non-null    float64
 48  ESTOQUE SEM
TRANSITO  371 non-null    float64
 49  IMPACTO               279 non-null    float64
 50  Trava                 371 non-null    float64
 51  Indip                 160 non-null    float64
 52  Prod_resume           239 non-null    object
 53  FEFO/ESTOQUE          232 non-null    object
 54  FEFO/PICKING          232 non-null    object
dtypes: float64(43), object(12)
memory usage: 160.0+ KB

In [15]:
df1['FEFO/ESTOQUE']

0      2024-09-07 00:00:00
1                        -
2                        -
3      2024-11-30 00:00:00
4                        -
              ...
367                    NaN
368                    NaN
369                    NaN
370                    NaN
371                    NaN
Name: FEFO/ESTOQUE, Length: 372, dtype: object

In [16]:
from datetime import datetime

In [20]:
df1['FEFO/ESTOQUE'][0].strftime('%d/%m/%Y')

'07/09/2024'

In [30]:
df1['FEFO/ESTOQUE'] = pd.to_datetime(df1['FEFO/ESTOQUE'], errors='coerce')

df1['FEFO/ESTOQUE'] = df1['FEFO/ESTOQUE'].apply(lambda x: x.strftime('%d/%m/%Y') if pd.notnull(x) else '-')

In [32]:
df1['FEFO/ESTOQUE'][df1['FEFO/ESTOQUE'].notnull()]

0      07/09/2024
1               -
2               -
3      30/11/2024
4               -
          ...
367             -
368             -
369             -
370             -
371             -
Name: FEFO/ESTOQUE, Length: 372, dtype: object

In [34]:
df1['Categorização'].unique()

array(['002 - Nab', '001 - CERVEJA', '003 - MKTP',
       '004 - BEBIDAS QUENTES', '002 - NAB', nan], dtype=object)