In [33]:
from pedidos import Pedido
import pandas as pd

In [34]:
pedido = pd.read_excel('./data/PLANILHA DE PEDIDO DISMEPI_st.xlsx',sheet_name='PEDIDO')

In [40]:
pedido['PERCENTUAL OVER/DOWN']

0     -0.503523
1     -0.642415
2     -1.103472
3     -1.114169
4     -1.034959
         ...
350         NaN
351         NaN
352         NaN
353         NaN
354         NaN
Name: PERCENTUAL OVER/DOWN, Length: 355, dtype: float64

In [35]:
desc_produtos = pd.read_excel('./data/desc_produtos.xlsx',sheet_name='Prod')

In [36]:
desc_produtos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Código Promax  239 non-null    int64
 1   Prod_resume    239 non-null    object
dtypes: int64(1), object(1)
memory usage: 3.9+ KB

In [37]:
pedido = pedido.merge(desc_produtos,on='Código Promax',how='left')

In [39]:
pedido['Prod_resume']

0        BC 473
1         BC 1L
2      SPNT 473
3         GM LM
4       GM TANG
         ...
350         NaN
351         NaN
352         NaN
353         NaN
354         NaN
Name: Prod_resume, Length: 355, dtype: object

In [42]:
grade = pd.read_csv('./data/grade.csv', sep=';')
grade

,Grade,Cod,Descricao,UN,Inicial,Ent.,Ent.MCDD,Reserva,Trans.,Saidas,Sai.MCDD,Disp.,Res.Magali,Inic.Agend.,Ent.Agend.,Sai.Agend.,Disp.Agend.
0,1,253,SU PT1 CX6,cx,127,0,0,0,0,0,0,127,0,0,0,0,0
1,1,279,BC LN355 SP CX4,cx,43,0,0,0,0,0,0,43,0,0,0,0,0
2,1,371,MZBR LN355 SP B,cx,70,0,0,0,0,0,0,70,0,0,0,0,0
3,1,503,SU PT2 CX6,cx,940,0,0,0,0,0,0,940,0,0,0,0,0
4,1,504,PC PT2 CX6,cx,889,0,0,0,0,0,0,889,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,1,32644,BUBUVA DSP5GCX6,cx,125,0,0,0,0,0,0,125,0,0,0,0,0
290,1,32646,BUBTUFR DSP5GCX,cx,114,0,0,0,0,0,0,114,0,0,0,0,0
291,1,32648,BUBMORA DSP5GCX,cx,107,0,0,0,0,0,0,107,0,0,0,0,0
292,1,32795,MIDAGMSG GFPET1,cx,33,0,0,0,0,0,0,33,0,0,0,0,0
293,1,32969,REDBULSMP LT250,cx,815,0,0,0,0,0,0,815,0,0,0,0,0